body {
    // background-color: rgb(200, 246, 188);
    // font-family: sans-serif;
}

h1 {
    // color: rgb(13, 69, 79);
}
.main-container {
    padding-left: 8%;
    padding-right: 8%;
}

li span {
    &.user-name {
        font-weight: 800;
    }
    &.system {
        color: brown;
    }
}

#chat {
    display: flex;
    flex-direction: column;
    height: 100%;
    .messages {
        flex-grow: 2;
    }
}

// Overrides
.mdl-layout__content {
    display: flex;
    flex-direction: column;
    .mdl-grid {
        width: 100%;
        flex-grow: 2;
    }
}
