header h1 {
  padding: 0 15px; }

li span.user-name {
  font-weight: 800; }

li span.system {
  color: brown; }

#login .mdl-cell {
  display: flex;
  justify-content: center; }

.chat {
  display: flex;
  flex-direction: column; }
  .chat .messages {
    flex-grow: 2;
    overflow: auto; }

@media screen and (min-device-width: 768px) {
  header h1 {
    padding: 2rem; }
  .mdl-layout__content {
    display: flex;
    flex-direction: column; }
    .mdl-layout__content .mdl-grid {
      width: 100%;
      flex-grow: 2; } }
