header h1 {
  padding: 0 15px; }

li span.user-name {
  font-weight: 800; }

li span.system {
  color: brown; }

.mdl-layout__content {
  display: flex;
  flex-direction: column; }

#login {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.chat, .sound-player {
  background-color: #eee;
  padding: 15px; }

.chat {
  display: flex;
  flex-direction: column; }
  .chat .messages {
    flex-grow: 2;
    overflow: auto; }
  .chat .message-input {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white; }
    .chat .message-input .mdl-button--fab {
      margin: 0 0 0 10px; }

.sound-player span {
  margin-right: 20px; }

@media screen and (min-device-width: 768px) {
  header h1 {
    padding: 2rem; }
  .mdl-layout__content .mdl-grid {
    width: calc(100% - 16px);
    flex-grow: 2; } }
